.bg {
  background-color: aquamarine;
  height: 100vh;
}

.title {
  text-align: center;
  margin-top: 50px;
  color: blue;
}

.table {
  margin-top: 100px;
  width: 1000px;
  background-color: white;
  border: black;
  text-align: center;
}

.img {
  width: 30px;
  height: 30px;

}

.btn {
  border: none;
  margin-right: 20px;
  background-color: unset;
}

.btnAdd {
  margin-right: 20px;
}